
.logo{
    cursor: pointer;
}


.nav-search-container{
    background-color: white;
    padding: 0 .4rem;
    border-radius: .5rem;
    height: 2rem;
    border: 1px solid;
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;
    gap: .6rem;
    width: 45%;
    text-align: start;
}

input {
    border: none;
}

input:focus{
    outline: none;
}

.cart-icon{
    font-size: 24px;
}

.cart-count{
    background-color: red;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 0 .4rem;
    border-radius: .6rem;
    position: relative;
    top: -1rem;
    right: 5px;

}