.result-list{
    /* display: none; */
    position:absolute;
    position: fixed;
    top: 2.7rem;
    left: 22.2rem;
    width:42%;
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: 0px 0px 8px #ddd;
    flex-direction: column;
    padding: .5rem;
    z-index: 1;
}

.list {
    font-size: 14px;
}
